body {
  margin: 0;
  padding: 0;
}

.Container {
  display: flex;
  height: 100vh;
}

.Item {
  background-color: #f7dfdf;
  width: 25%;
  margin: 10px;
}
.Center_Items {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.Middle_Item,
.Middle_Item1 {
  background-color: #f7dfdf;
  width: 100%;
  height: 46vh;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Middle_Item1 {
  margin-top: 0;
}
