* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  .jsprogram {
    font-family: "Comic Neue", cursive;
  }
  .flex-space {
    display: flex;
    justify-content: space-between;
  }
  #header {
    background-color: #365278;
    color: #e2d9cc;
    padding: 0 10px;
    align-items: center;
  }
  img {
    padding: 0 5px;
  }
  .flex {
    display: flex;
    align-items: center;
    gap: 90px;
  }
  
  .container {
    background-color: white;
    justify-content: center;
    /* height: 653px; */
    padding: 10px 0;
  }
  #content {
    background-color: #f3f3cb;
    color: #36537a;
    padding: 20px 0;
    /* height: 650px; */
    width: 800px;
  }
  .flexonly {
    display: flex;
  }
  .flexround {  
    display: flex;
    justify-content: space-around;
  }
  .flexrow {
    display: flex;
    flex-direction: column;
  }
  .line {
    border-bottom: 1px solid;
  }
  .line-right{
    border-right: 1px solid;
  }
  .inputfield {
    margin-left: 0;
  }
  .round {
    padding: 5px 10px;
    align-items: baseline;

  }
  .round label {
    width: 270px;
  }
  .age {
    width: 200px;
    height: 30px;
  }
 table,th,td{
  border: 3px solid black ;
  margin: 20px 0;
  padding: 3px;
  border-collapse: collapse;
 }
  .down{
    margin-top: 20px;
  }
  textarea{
    height: 70px;
    width: 200px;
  }
  .add-button{
    margin-left: 47%
}

  button {
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    background-color: #365278;
  }
  
  #footer {
    height: fit-content;
    background-color: #e1f2f2;
    color: #36537a;
    align-items: center;
    padding: 0 20px;
  }
  